{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}

        com.github.seancorfield/honeysql {:mvn/version "2.6.1203"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.955"}
        com.zaxxer/HikariCP {:mvn/version "6.0.0"}
        integrant/integrant {:mvn/version "0.10.0"}
        lambdaisland/uri {:mvn/version "1.19.155"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               lambdaisland/kaocha {:mvn/version "1.89.1380"}
                               nubank/matcher-combinators {:mvn/version "3.9.1"}
                               org.xerial/sqlite-jdbc {:mvn/version "3.47.0.0"}}
                  :main-opts ["-m" "kaocha.runner"]}

           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}

           ;; clojure -M:clj-kondo
           :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.09.27"}}
                       :main-opts ["-m" "clj-kondo.main"]}

           ;; clojure -M:cljfmt check|fix
           :cljfmt {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.13.0"}}
                    :main-opts ["-m" "cljfmt.main"]}}}
